<nav class="navbar navbar-default navbar-kit" role="navigation" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-eye"></i> Kit Servicios</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i> Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://github.com/tribusdev" target="_blank"><i class="fa fa-leaf"></i> Tribus Developers</a></li>
            <li><a href="https://github.com/tribusdev/kit-servicios" target="_blank"><i class="fa fa-github"></i> kit-servicios</a></li>
            <li><a href="https://github.com/tribusdev/mediawiki" target="_blank"><i class="fa fa-sitemap"></i> Service</a></li>
            <li class="divider"></li>
            <li><a href="http://tribus.readthedocs.org/es/latest/" target="_blank"><i class="fa fa-file-text"></i> Wiki</a></li>
            <li class="divider"></li>
            <li><a href="http://canaima.softwarelibre.gob.ve/" target="_blank"><i class="fa fa-linux"></i> Canaimak GNU/Linux</a></li>
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <div href="#menu-toggle" class="btn btn-default buton-toggle" id="menu-toggle">Toggle Menu</div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Usuario <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>