<div id="wrapper" ng-controller="kitController">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#"> Servicios </a>
      </li>
      <div ui-draggable="true" drag="service.name" ng-repeat="service in services track by $index">
        <script type="text/ng-template" id="serviceInfo.html">
          <div class="modal-header">
            <img id="img-modal-descrip" ng-src="/static/img/charms-icon/{% verbatim %}{{ servicedata[0].name }}{% endverbatim %}.svg"></img>
            <h3 class="modal-title"> Servicio de {% verbatim %}{{ servicedata[0].name }}{% endverbatim %} </h3>
            <p>{% verbatim %}{{ servicedata[0].summary }}{% endverbatim %}</p>
          </div>
          <div class="modal-body">
            <ul>
              <p ng-click="selected.item = item">Description : {% verbatim %}{{servicedata[0].description}}{% endverbatim %}</p>
            </ul>
            <br>
            <ul>                
              <p ng-click="selected.item = item">Maintainer : {% verbatim %}{{servicedata[0].maintainer}}{% endverbatim %}</p>
            </ul>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">OK</button>
          </div>
        </script>
        <div class="container-list">
          <div class="container-charms">
            <div i="{% verbatim %}{{ service.name }}{% endverbatim %}" class="container-service" back-img='/static/img/charms-icon/{% verbatim %}{{ service.name }}{% endverbatim %}.svg' ng-click="open('lg', service.name)"></div>
            <div class="name-charms">{% verbatim %}{{ service.name }}{% endverbatim %}</div>
            <div class="name-summary">{% verbatim %}{{service.summary}}{% endverbatim %}</div>
          </div>
        </div>
      </div>
      <div ng-show="selected">Selection from a modal: {% verbatim %}{{ selected }}{% endverbatim %}</div>
    </div>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <panzoomwidget config="panzoomConfig" model="panzoomModel"></panzoomwidget>
        <panzoom class="panzoom" config="panzoomConfig" model="panzoomModel" ui-on-Drop="onDrop($event, $data, servicios)">
          <script type="text/ng-template" id="serviceDeploy.html">
            <div class="modal-header">
                <h3 class="modal-title">Servicio</h3>
            </div>
            <div class="modal-body">
              <form role="form">

                <div class="form-group">
                  <label> Dirección IP </label>
                  <input type="campo" class="form-control" id="id-address" placeholder="" ng-model="servicedata[0].config.ipadd">
                </div>

                <div class="form-group">
                  <label> Usuario </label>
                  <input type="campo" class="form-control" id="id-address" placeholder="" ng-model="servicedata[0].config.username">
                </div>

                <div class="form-group">
                  <label> Contraseña </label>
                  <input type="password" class="form-control" id="id-address" placeholder="" ng-model="servicedata[0].config.passwd">
                </div>

                <div data-ng-repeat="campo in servicedata[0].config.campos">
                  <div ng-if="campo.tipo=='string'">
                    <div class="form-group">
                      <label for="campo">{% verbatim %}{{campo.nombre}}{% endverbatim %}</label>
                      <input type="campo" class="form-control" id="{% verbatim %}{{campo.field_name}}{% endverbatim %}" placeholder="{% verbatim %}{{campo.default}}{% endverbatim %}" ng-model="campo.default">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" ng-click="remove()">Borrar</button>
              <button type="button" class="btn btn-primary" ng-click="ok(servicedata[0].config)">Desplegar</button>
              <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            </div>
          </script>
          <div ui-draggable="true" drag="servicio"
              on-drop-success="dropSuccessHandler($event, $index, servicios)" ng-repeat="servicio in servicios track by $index">
            <div id="{% verbatim %}{{ servicio }}{% endverbatim %}" my-draggable ng-mouseover="mouseover()" ng-mouseleave="mouseleave()" class="container-charms" remove-me>
              <div class="container-service-pending" back-img='/static/img/charms-icon/service_module_pending/{% verbatim %}{{ servicio }}{% endverbatim %}.svg'>
                <div ng-dblclick="opendeploy(servicio)" class="container-service-pan" back-img='/static/img/charms-icon/{% verbatim %}{{ servicio }}{% endverbatim %}.svg'>
                  <p>{% verbatim %}{{ servicio }}{% endverbatim %}</p>
                </div>
              </div>
            </div>
          </div>
        </panzoom>
      </div>
    </div>
  </div>
</div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->