<div class="row">

	<form class="col s12" name="kds" novalidate>

		<center> <h2> Modulo de Eliminacion </h2> </center>

		<br><br>
		
		<div ng-show="msj_logger">

			<div class="card">

				<ul class="collection">

					<h4> Autorización de las operaciones </h4>

					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">account_circle</i>
							<input ng-model="Params.username"  name="username" id="username" type="text" class="validate" required pattern="[ñáéíóúA-Za-z ]+">
							<label> Nombre del usuario en el servidor remoto </label>
						</div>

					</li>

					<li class="collection-item">

						<div class="card-panel" ng-show="!kds.username.$pristine && kds.username.$error.required">
						
							<p> 
								<i class="medium material-icons waves-effect waves-light">
									report_problem
								</i>
								El campo es requerido
							 </p>

						</div>

					</li>

					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">vpn_key</i>
							<input ng-model="Params.passwd" name="passwd" type="password" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+">
							<label>Contraseña del usuario en el servidor remoto</label>
							
						</div>

					</li>

					<li class="collection-item">

						<div class="card-panel" ng-show="!kds.passwd.$pristine && kds.passwd.$error.required">
						
							<p> 
								<i class="medium material-icons waves-effect waves-light">
									report_problem
								</i>
								El campo es requerido
							 </p>

						</div>

					</li>

					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">vpn_key</i>
							<input ng-model="confirmPassword" name="confirmPassword" type="password" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+" compare-to="Params.passwd" >
							<label>Confirmar contraseña </label>
							
							<div class="card-panel" ng-show="!kds.confirmPassword.$pristine && kds.confirmPassword.$error.compareTo">
						
								<p> 
									<i class="medium material-icons waves-effect waves-light">
										report_problem
									</i>
									Las contraseñas no coinciden
								 </p>

							</div>
							
						</div>

					</li>

				</ul>

			</div>

		</div>


		<div ng-show="!msj_logger" >
			
			<div class="card-panel">
			
				<p> 
					<i class="medium material-icons waves-effect waves-light">
						repeat
					</i>
					Acciones a tiempo real del sistema 
				 </p>

				<div ng-show="!band" class="preloader-wrapper small active">
						
					<div class="spinner-layer spinner-blue-only">
						
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>

						<div class="gap-patch">
							<div class="circle"></div>
						</div>
					
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

				</div>

			</div>

			<pre class=" language-markup"><code class=" language-markup">{{logger}}</code></pre>
		
		</div>
    	
    
    	<div ng-show="band">
    	
	    	<ul class="collection col s12">
			   
			    <li class="collection-item avatar">
					<i class="material-icons circle green">thumb_up</i>

					<span class="title">Tareas Ejecutadas Correctamente:</span>

					<p> {{ respuesta.ok }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">restore</i>

					<span class="title">Tareas que generaron cambios:</span>

					<p> {{ respuesta.changed }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">pause_circle_outline</i>

					<span class="title">Tareas no ejecutadas:</span>

					<p> {{ respuesta.unreachable }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">swap_calls</i>

					<span class="title"> Tareas Saltadas: </span>

					<p> {{ respuesta.skipped }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">error_outline</i>

					<span class="title"> Tareas fallidas: </span>

					<p> {{ respuesta.failures }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			 </ul>
           
    	</div>

    	<div ng-show="band" class="card-panel">
			
			<p> 
				<i class="medium material-icons waves-effect waves-light">
					info_outline
				</i>
				
				Ha Finalizado la desintalación del servicio. 

			</p>

		</div>
		
		<br><br><br><br><br>

		<div ng-show="msj_logger" class="col s12 "> 

		<br><br>

			<div class="fixed-action-btn horizontal right-align" style="position: relative;">
				
				<a href="#!" class="btn-floating btn-large waves-light">
					<i class="large material-icons">menu</i>
				</a>

				<ul>
					
					<li>

						<button type="submit" class="btn-floating red" ng-click="deployService(Params, 'Desintalar')" ng-disabled="!(kds.$valid)">
							<i class="material-icons">
							delete
							</i>
						</button>

					</li>

				</ul>

			</div>

		</div>
		
	</form>

</div>
