<div class="row">

	<center> <h2> Monitoreo </h2> </center>

	<h3> {{servicioStatus.receta}} </h3>

	<br><br>

	<form class="col s12" name="kds" novalidate>

		<div class="row" ng-show="msj_logger">

			<div class="card">

				<ul class="collection">

					<center> <h4> Autorización de las operaciones </h4> </center>

					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">account_circle</i>
							<input ng-model="servicioStatus.username" name="username" id="username" type="text" class="validate" required pattern="[ñáéíóúA-Za-z ]+">
							<label class="active" for="username"> Nombre del usuario en el servidor remoto  </label>

						</div>

					</li>

					<li class="collection-item">

						<div class="card-panel" ng-show="!kds.username.$pristine && kds.username.$error.required">
						
							<p> 
								<i class="medium material-icons waves-effect waves-light">
									report_problem
								</i>
								El campo es requerido
							 </p>

						</div>

					</li>

					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">vpn_key</i>
							<input ng-model="servicioStatus.passwd" name="passwd" type="password" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+">
							<label> Contraseña del usuario en el servidor remoto </label>
							
						</div>

					</li>

					<li class="collection-item">

						<div class="card-panel" ng-show="!kds.passwd.$pristine && kds.passwd.$error.required">
						
							<p> 
								<i class="medium material-icons waves-effect waves-light">
									report_problem
								</i>
								El campo es requerido
							 </p>

						</div>

					</li>


					<li class="collection-item">

						<div class="input-field col s12">
											
							<i class="material-icons prefix">vpn_key</i>
							<input ng-model="confirmPassword" name="confirmPassword" type="password" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+" compare-to="servicioStatus.passwd" >
							<label>Confirmar contraseña </label>
							
							<div class="card-panel" ng-show="!kds.confirmPassword.$pristine && kds.confirmPassword.$error.compareTo">
						
								<p> 
									<i class="medium material-icons waves-effect waves-light">
										report_problem
									</i>
									Las contraseñas no coinciden
								 </p>

							</div>
							
						</div>

					</li>

				</ul>

			</div>

		</div>

		<div ng-show="!msj_logger">

			<div class="card-panel">
			
				<p> 
					<i class="medium material-icons waves-effect waves-light">
						repeat
					</i>
					Acciones a tiempo real del sistema 
				 </p>

				<div ng-show="!band" class="preloader-wrapper small active">
					
					<div class="spinner-layer spinner-blue-only">
						
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>

						<div class="gap-patch">
							<div class="circle"></div>
						</div>
					
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

				</div>

			</div>

    	</div>

    	<pre ng-show="!msj_logger" class=" language-markup"><code class=" language-markup">{{logger}}</code></pre>

		<br><br>
		
		<div class="row" data-ng-repeat="service in servicioStatus.services">

				<p>
					<i class="medium material-icons">done_all</i>
	      			 {{ service.service }}   
	      			
	    		</p>

		</div>

		<br><br><br>

		<div ng-show="band">
    	
	    	<ul class="collection col s12">
			   
			    <li class="collection-item avatar">
					<i class="material-icons circle green">thumb_up</i>

					<span class="title">Tareas Ejecutadas Correctamente:</span>

					<p> {{ respuesta.ok }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">restore</i>

					<span class="title">Tareas que generaron cambios:</span>

					<p> {{ respuesta.changed }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">pause_circle_outline</i>

					<span class="title">Tareas no ejecutadas:</span>

					<p> {{ respuesta.unreachable }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">swap_calls</i>

					<span class="title"> Tareas Saltadas: </span>

					<p> {{ respuesta.skipped }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">error_outline</i>

					<span class="title"> Tareas fallidas: </span>

					<p> {{ respuesta.failures }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			 </ul>
           
    	</div>

		<br><br><br><br>

		<div class="row" >

			<center> 

				<button type="submit" class="waves-effect waves-light btn" ng-click="restartService()" ng-disabled="!(kds.$valid)">
					<i class="material-icons">
						cloud
					</i>
					Reinciar los Servicios
				</button>
				
				<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Cancelar</a>

			</center>

		</div>

	</form>

</div>
