
<div class="row">

	<center> <h2> Monitoreo </h2> </center>

	<h3> {{servicioStatus.recipe}} </h3>

	<br><br>


	<div class="row" data-ng-repeat="service in servicioStatus.services">

			<p ng-if="service.run=='Online'">

				<i class="small material-icons">done_all</i>
      			<label> {{ service.service }} </label>
      			
    		</p>

    		<p ng-if="service.run=='Offline'">
    		    <i class="small material-icons">report_problem</i>
      			<label>  {{ service.service }}  </label>
    		</p>

	</div>

	<div ng-if="!!servicioStatus.error">
		
		<div class="card-panel">
			
			<p> 
				<i class="medium material-icons waves-effect waves-light">
					report_problem
				</i>
				{{servicioStatus.error}}
			 </p>

		</div>
		
	</div>

	<center> 

		<a class="waves-effect waves-light btn" ng-click="restartService()"><i class="material-icons left">cloud</i>Reinciar los Servicios</a>
		<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Cancelar</a>

	</center>

</div>
