Source: kds
Section: web
Priority: optional
X-Python-Version: >= 2.6
Maintainer: Jose Francisco Guerrero <jsfrncscg@gmail.com>
Build-Depends: debhelper (>= 9), dh-python
Build-Depends-Indep: python-django (>= 1.7)
Standards-Version: 3.9.6
Homepage: http://canaima.softwarelibre.gob.ve
Vcs-Git: git@github.com:tribusdev/kit-servicios.git

Package: kds
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 fabric (>= 1.10.0),
 cssmin (>= 0.2.0),
 slimit (>= 0.8.1),
 python-dev,
 python-django (>= 1.7.1),
 python-yaml (>= 3.11),
 python-sphinx (>= 1.2.3),
 python-celery (>= 3.1.13),
 python-django-celery (>= 3.1.16),
 python-psycopg2 (>= 2.5.4),
 python-django-tastypie (>= 0.12.0),
 python-django-static (>= 1.5.5),
 python-mimeparse (>= 0.1.4),
 python-requests (>= 2.4.3),
 python-lxml (>= 3.4.0),
 python-sh (>= 1.09),
 uwsgi-plugin-python (>= 2.0.7), 
 uwsgi (>= 2.0.7),
 nginx,
 rabbitmq-server
Description: Proyecto Kit de servicios
 Este paquete instala el componente Kit de servicios
