Source: kit-servicios
Section: web
Priority: optional
Maintainer: Victor Pino <victopin0@gmail.com>
Build-Depends: debhelper (>= 9), cdbs (>= 0.4.130), dh-python, python-all, dh-virtualenv (>= 0.7), python-setuptools, python-all-dev, libpq-dev 
Standards-Version: 3.9.6
Homepage: http://canaima.softwarelibre.gob.ve

Package: kit-servicios
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7 | python2.6, libpcre3, libpcre3-dev
Depends: python-all-dev,
 python-setuptools,
 python-dev,
 ${misc:Depends},
 uwsgi,
 nginx,
 uwsgi-plugin-python,
 rabbitmq-server,
 redis-server,
 celeryd,
 virtualenv,
 build-essential,
 libssl-dev,
 libffi-dev
Description: Proyecto Kit de servicios
 Este paquete instala el componente Kit de servicios
