{% load staticfiles %}


    <nav class="white" role="navigation">

        <div class="nav-wrapper container">

            <a id="logo-container" href="#" class="brand-logo"><img src="{% static 'img/canaima-banner.png' %}"></a>

            <ul class="right hide-on-med-and-down">

                <li><a href="/">Inicio</a></li>
                <li><a href="http://gitlab.canaima.softwarelibre.gob.ve/">GitLab</a></li>
                <li><a href="http://canaima.softwarelibre.gob.ve/">Canaima</a></li>

            </ul>

            <ul id="nav-mobile" class="side-nav">

                <li><a href="/">Inicio</a></li>
                <li><a href="http://gitlab.canaima.softwarelibre.gob.ve/">GitLab</a></li>
                <li><a href="http://canaima.softwarelibre.gob.ve/">Canaima</a></li>
            
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

        </div>

    </nav>
