{% load staticfiles %}

{% verbatim %}
 <div class="row" ng-controller="RolController">

    <div class="col s12 m5 l6">
    	<center> <h3> Servicios </h3> </center>
    	<br>

		<ul class="collapsible popout" data-collapsible="accordion">
		    
		    <li data-ng-repeat="recipe in roles.recipes">
		      	
		      	<div class="collapsible-header"><i class="material-icons">filter_drama</i> 
		      		 {{recipe.summary}}  
		      	</div>
				
				<div class="collapsible-body">
			        
			        	<p> {{recipe.description}}   </p>
				        
						<center>
							<a href="/panel/{{recipe.name}}" class="btn-floating btn-large waves-effect">

								<i class="material-icons">add</i> Desplegar

							</a>
						</center>

						<br>

			    </div>

		    </li>
		    
		</ul>
		
	</div>

	<div class="col s12 m7 l6" ng-view>



	</div>

</div>

{% endverbatim %}