{% load staticfiles %}

 <div class="row">

    <div class="col s12 m5 l6">
    	<center> <h3> Servicios </h3> </center>
    	<br>
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      	
		      	<div class="collapsible-header"><i class="material-icons">filter_drama</i> 
		      		Servicio de Correo 
		      	</div>
				
				<div class="collapsible-body">
			        
			        	<p>

				        Un servidor de correo es una aplicación de red de computadoras ubicada en un servidor de Internet, para prestar servicio de correo electrónico (correo-e o "e-mail").

						El Mail Transfer Agent (MTA) tiene varias formas de comunicarse con otros servidores de correo:

					    Recibe los mensajes desde otro MTA. Actúa como "servidor" de otros servidores.
					    Envía los mensajes hacia otro MTA. Actúa como un "cliente" de otros servidores.
					    Actúa como intermediario entre un Mail Submission Agent y otro MTA.
						</p>

						<a href="/panel/ansible-role-mailserver" class="btn-floating btn-large waves-effect waves-light waves-light">

							<i class="material-icons">add</i> Desplegar

						</a>

			    </div>

		    </li>
		    
		    <li>
			    <div class="collapsible-header"><i class="material-icons">place</i> 
			    
			    	DHCP
			    
			    </div>
		      	
		      	<div class="collapsible-body">

		      		<p>

		      			Es un servidor que usa protocolo de red de tipo cliente/servidor en el que generalmente un servidor posee una lista de direcciones IP dinámicas y las va asignando a los clientes conforme éstas van quedando libres, sabiendo en todo momento quién ha estado en posesión de esa IP, cuánto tiempo la ha tenido y a quién se la ha asignado después. Así los clientes de una red IP pueden conseguir sus parámetros de configuración automáticamente. Este protocolo se publicó en octubre de 1993, y su implementación actual está en la RFC 2131. Para DHCPv6 se publica el RFC 3315.

		      		</p>

		      	</div>

		    </li>

		    <li>
		      
		      <div class="collapsible-header"><i class="material-icons">whatshot</i> 
		      	
		      	DNS 

		      </div>
		      
		      <div class="collapsible-body">

		      		<p>

		      			Es un sistema de nomenclatura jerárquico descentralizado para dispositivos conectados a redes IP como Internet o una red privada. Este sistema asocia información variada con nombres de dominios asignado a cada uno de los participantes.
		      			
		      		</p>

		      </div>

		    </li>

		</ul>
		
	</div>

	<div class="col s12 m7 l6" ng-view>



	</div>

</div>