{% load staticfiles %}

 <div class="row">

    <div class="col s12 m5 l6">
    	<center> <h3> Servicios </h3> </center>
    	<br>
		<ul class="collapsible popout" data-collapsible="accordion">
		    <li>
		      	
		      	<div class="collapsible-header"><i class="material-icons">filter_drama</i> 
		      		Servicio de Correo 
		      	</div>
				
				<div class="collapsible-body">
			        
			        	<p>

				        Un servidor de correo es una aplicación de red de computadoras ubicada en un servidor de Internet, para prestar servicio de correo electrónico (correo-e o "e-mail").

						El Mail Transfer Agent (MTA) tiene varias formas de comunicarse con otros servidores de correo:

					    Recibe los mensajes desde otro MTA. Actúa como "servidor" de otros servidores.
					    Envía los mensajes hacia otro MTA. Actúa como un "cliente" de otros servidores.
					    Actúa como intermediario entre un Mail Submission Agent y otro MTA.
						</p>

						<a href="/panel/ansible-role-mailserver" class="btn-floating btn-large waves-effect waves-light waves-light">

							<i class="material-icons">add</i> Desplegar

						</a>

			    </div>

		    </li>
		    
		    <li>
			    <div class="collapsible-header"><i class="material-icons">place</i> 
			    
			    	Time Server
			    
			    </div>
		      	
		      	<div class="collapsible-body">

		      		<p>

		      			Lorem ipsum dolor sit amet.

		      		</p>

		      	</div>

		    </li>

		    <li>
		      
		      <div class="collapsible-header"><i class="material-icons">whatshot</i> 
		      	
		      	DNS 

		      </div>
		      
		      <div class="collapsible-body">

		      	<p>Lorem ipsum dolor sit amet.</p>

		      </div>

		    </li>

		</ul>
		
	</div>


	<div class="col s12 m7 l6" ng-view>



	</div>



</div>