<div class="row">
	
	<center> <h3> Gestion del Servicio </h3> </center>

	<br>

	<div class="input-field col s10">
						
			<i class="material-icons prefix">dns</i>
			<input ng-model="ip" name="ip" id="default" type="text" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+"ng-blur="" >
			<label>IP donde desea instalar </label>

	</div>

	<div class="col s2">

		
		<i class="medium material-icons waves-effect waves-light teal lighten-2" ng-click="consultState(ip)">done</i>
		
		
	</div>

	<br><br><br><br><br>

			<a ng-href="/consult/{{name}}/{{ip}}">
				<i class="material-icons" ng-disabled="!desintalado">add</i>
			</a>


	<div class="col s12">
		
		<div class=" chip">
	    Instalar
	    <i class="material-icons" ng-disabled="!desintalado">add</i>
	  	</div>

	</div>

	<br><br>

	<div class="col s12">
		
		<div class=" chip">
	    Actualizar
	    <i class="material-icons" ng-disabled="!instalado">mode_edit</i>
	  	</div>

	</div>

	<br><br>

	<div class="col s12">
		
		<div class=" chip">
	    Consultar
	    <i class="material-icons" ng-disabled="!instalado">search</i>
	  	</div>

	</div>

	<br><br>

	<div class="col s12">
		
		<div class=" chip">
	    Desintalar
	    <i class="material-icons" ng-disabled="!instalado">delete</i>
	  	</div>

	</div>

	<br><br>

</div>
