<div class="row">
	
	<center> <h3> Gestion del Servicio </h3> </center>

	<br>

	<div class="input-field col s10">
						
			<i class="material-icons prefix">dns</i>
			<input ng-model="ip" name="ip" id="default" type="text" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+" ng-blur="" >
			<label>IP donde desea instalar </label>

	</div>



	<div class="col s2">

		
		<i class="medium material-icons waves-effect waves-light teal lighten-2" ng-click="consultState(ip)">done</i>
		
		
	</div>

	<br><br><br><br><br>
	
	<div ng-if="!!servicioStatus.error">
		
		
		<div class="card-panel">
			
			<p> 
				<i class="medium material-icons waves-effect waves-light">
					report_problem
				</i>
				{{servicioStatus.error}}
			 </p>
		</div>
		
		

	</div>

	<div ng-if="servicioStatus.error == '' ">

		<div class="col s12" ng-show="desintalado">
			
			<div class="chip">
		    Instalar
		    <i class="material-icons" ng-disabled="!desintalado">add</i>
		  	</div>

		</div>

		<br><br>

		<div class="col s12" ng-show="instalado">
			
			<div class="chip">
		    Actualizar
		    <i class="material-icons" ng-disabled="!instalado">mode_edit</i>
		  	</div>

		</div>

		<br><br>

		<div class="col s12" ng-show="instalado">
			
			<div class="chip">
		    Consultar
		    <a ng-href="/consult/{{name}}/{{ip}}">
					<i class="material-icons" ng-disabled="!instalado">search</i>
			</a>
		  	</div>

		</div>

		<br><br>

		<div class="col s12" ng-show="instalado">
			
			<div class="chip">
		    Desintalar
		    <i class="material-icons" ng-disabled="!instalado">delete</i>
		  	</div>

		</div>

		<br><br>

	</div>

</div>
