<div class="row">

	<form class="col s12" name="kds" ng-if="Params.username == ''">

		<center> <h1> Parametros </h1> </center>

		<div class="input-field col s12">
							
			<i class="material-icons prefix">dns</i>
			<input ng-model="Params.ipadd" name="Params.ipadd" id="default" type="text" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+"ng-blur="consultState()" >
			<label>IP </label>


		</div>

		<div class="input-field col s12">
							
			<i class="material-icons prefix">account_circle</i>
			<input ng-model="Params.username"  name="username" id="username" type="text" class="validate" required pattern="[ñáéíóúA-Za-z ]+">
			<label> Nombre de usuario</label>
			<span ng-show="!kds.$pristine && kds.username.$error.required"> El nombre de usuario es requerido.</span>

		</div>

		<div class="input-field col s12">
							
			<i class="material-icons prefix">vpn_key</i>
			<input ng-model="Params.passwd" name="Params.passwd" id="Params.passwd" type="password" class="validate" required pattern="[ñáéíóúA-Za-z 0-9 .]+">
			<label>Contraseña del usuario</label>
			<span ng-show="!kds.$pristine && kds.Params.passwd.$error.required"> El nombre de usuario es requerido.</span>
		</div>

		

		<h1> {{ servicioStatus.estado }} </h1>

		<div class="row" data-ng-repeat="service in Params.campos">

			<div class="row" ng-show="status"> 
					
				<div ng-if="service.tipo=='string'">

					<div class="input-field col s12">
							
						<i class="material-icons prefix">description</i>
						<input ng-model="service.default"  id="service.nombre" type="text" class="validate" id='' required pattern="[ñáéíóúA-Za-z 0-9 .]+">
						<label class="active">{{service.nombre}}</label>

					</div>

				</div>

				<div ng-if="service.tipo=='boolean'">

					<div class="input-field col s12">
							
						<i class="material-icons prefix">description</i>
						<input ng-model="service.default"  id="service.nombre" type="text" class="validate">
						<label>Default</label>

					</div>

					<div class="input-field col s12"> 
						<i class="material-icons prefix">vpn_key</i>
						<input id="nombre" type="text" class="validate" id='nombre' ng-model="nombre" >
						<label>Nombre</label>

					</div>

					<div class="input-field col s12">

						<i class="material-icons prefix">textsms</i>
						<input id="field_name" type="text" class="validate" id='field_name' ng-model="field_name" >
						<label>Field Name</label>

					</div>

					<div class="input-field col s12">
						<p>
					    	<input type="checkbox" id="True" />
					    	<label for="True">True</label>

					    	<input type="checkbox" id="False" />
					    	<label for="False">False</label>
					   
					    </p>

				    </div>

				</div>

				<div ng-if="service.tipo=='list'">

					<div class="input-field col s12" data-ng-repeat="item in service.default">

						<p>
							<input name="group1" type="radio" id="{{item}}" />
							<label for="{{item}}">{{item}}</label>
						  
					    </p>

				    </div>

				</div>
				

			</div>

		</div>

		<div ng-show="!msj">

			
    	
    	<h1> Ejecutando la receta, por favor espere .... </h1>

			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue-only">
					
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>
				
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>

    	</div>

    	<pre ng-show="!msj_logger" class=" language-markup"><code class=" language-markup">{{logger}}</code></pre>
    
    	<div ng-show="band">
    	
	    	<ul class="collection col s12">
			   
			    <li class="collection-item avatar">
					<i class="material-icons circle green">thumb_up</i>

					<span class="title">Tareas Ejecutadas Correctamente:</span>

					<p> {{ respuesta.ok }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">restore</i>

					<span class="title">Tareas que generaron cambios:</span>

					<p> {{ respuesta.changed }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">pause_circle_outline</i>

					<span class="title">Tareas no ejecutadas:</span>

					<p> {{ respuesta.unreachable }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle green">swap_calls</i>

					<span class="title"> Tareas Saltadas: </span>

					<p> {{ respuesta.skipped }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			    <li class="collection-item avatar">
					<i class="material-icons circle red">error_outline</i>

					<span class="title"> Tareas fallidas: </span>

					<p> {{ respuesta.failures }} </p>

					<a href="#!" class="secondary-content">
						
						<i class="material-icons">grade</i>

					</a>

			    </li>

			 </ul>
           
    	</div>
		
		<div class="col s12 "> 

			<div class="fixed-action-btn horizontal right-align" style="position: relative;">
				
				<a href="#!" class="btn-floating btn-large waves-light">
					<i class="large material-icons">menu</i>
				</a>

				<ul>
					
					<li>

						<button type="submit" class="btn-floating red" ng-click="deployService(Params, 'Instalar')" ng-disabled="!(kds.$valid && desintalado)">
							<i class="material-icons">
							add
							</i>
						</button>

					</li>

					<li>

						<button type="submit" class="btn-floating red darken-1" ng-click="deployService(Params, 'Actualizar')" ng-disabled="!(kds.$valid && instalado)">
							<i class="material-icons">
							mode_edit
							</i>
						</button>

					</li>

					<li>
						<button type="submit" class="btn-floating red" ng-click="deployService(Params, 'Desintalar')" ng-disabled="!(kds.$valid && instalado)">
							<i class="material-icons">
							delete
							</i>

						</button>
					</li>	

				</ul>

			</div>

		</div>
		
	</form>

</div>
