{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/jquery-2.1.1.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/init.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/Materialize/dist/js/materialize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/panel_control/app.js' %}"></script>

<script type="text/javascript" src="{% static 'js/panel_control/controllers.js' %}"></script>

<script type="text/javascript" src="{% static 'js/panel_control/services.js' %}"></script>

<script type="text/javascript" src="{% static 'js/panel_control/ws4redis.js' %}"></script>

