Package: kit-servicios-doc
Source: kit-servicios
Version: 1.0-1
Architecture: all
Maintainer: Jose Francisco Guerrero <jsfrncscg@gmail.com>
Installed-Size: 26
Section: web
Priority: optional
Homepage: http://canaima.softwarelibre.gob.ve
Description: Documentacion para kit-servicios-1.0
 Documentacion del kit de servicios
