{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<div class="jumbotron">
	<div class="container" ng-controller="CharmsController">
        <div class="row">
            <div class="col-xs-1">
            	<!-- <div ui-draggable="true" drag="charm"
                    	on-drop-success="dropSuccessHandler($event,$index,charm)"
                    	ng-repeat= "charm in charms track by $index">
					<a>{% verbatim %}{{charm.name}}{% endverbatim %}</a> <br>
                    <a>{% verbatim %}{{charm.summary}}{% endverbatim %}</a> <br>
                    <a>{% verbatim %}{{charm.icon}}{% endverbatim %}</a> <br>
					<a>{% verbatim %}{{charm.description}}{% endverbatim %}</a> <br>
					<a>{% verbatim %}{{charm.maintainer}}{% endverbatim %}</a> <br>
					<br> <br> <br> <br> <br> <br>
        		</div>  -->
                    <img class="logo" src="/static/img/logo-min.svg"></img>
                <div ui-draggable="true" drag="listservicio"
                        ng-repeat="listservicio in serviciolist track by $index">
                    <div>
                        <h1>
                            {% verbatim %}{{ listservicio }}{% endverbatim %}
                        </h1>
                    </div>
                </div>
            </div>
            <!-- 
            <div class="col-xs-2" ui-on-Drop="onDrop($event,$data,serviceinstall)">
                <div ui-draggable="true" drag="serviciosinstall"
                    	on-drop-success="dropSuccessHandler($event,$index,serviceinstall)"
                    	ng-repeat="serviciosinstall in serviceinstall track by $index">
                    <div>
                        <span my-draggable>
                            {% verbatim %}{{ serviciosinstall }}{% endverbatim %}
                        </span>
                	</div>
            	</div>
	        </div> -->
            <panzoomwidget config="panzoomConfig" model="panzoomModel"></panzoomwidget>

            <panzoom class="panzoom" config="panzoomConfig" model="panzoomModel" ui-on-Drop="onDrop($event,$data,serviceinstall)">
                
                <div>
                    <div >
                        <div ui-draggable="true" drag="serviciosinstall" 
                        on-drop-success="dropSuccessHandler($event,$index,serviceinstall)"
                        ng-repeat="serviciosinstall in serviceinstall track by $index">
                            <h1 my-draggable ng-mouseover="mouseover()" ng-mouseleave="mouseleave()">{% verbatim %}{{ serviciosinstall }}{% endverbatim %}</h1>
                        </div>
                    </div>
                </div>

                <h1 my-draggable ng-mouseover="mouseover()" ng-mouseleave="mouseleave()">hola:S</h1>
                <h1 my-draggable ng-mouseover="mouseover()" ng-mouseleave="mouseleave()">hola:ddS</h1>
             
            </panzoom>

        </div>
    </div>
</div>
{% endblock %}
